{% extends "base.html" %}

{% block content %}
  <h2>{% if lesson.id %}Edit Lesson{% else %}New Lesson{% endif %}</h2>

  <form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ upload_form.hidden_tag() }}

    <p>
      {{ form.title.label }}<br>
      {{ form.title(class="form-control") }}
    </p>

    <p>
      {{ form.description.label }}<br>
      {{ form.description(class="form-control") }}
    </p>

    <p>
      {{ form.video_url.label }}<br>
      {{ form.video_url(class="form-control") }}
    </p>

    <p>
      {{ form.category.label }}<br>
      {{ form.category(class="form-control") }}
    </p>

    <hr>

    <h4>Upload Resources</h4>

    <p>
      {{ upload_form.display_name.label }}<br>
      {{ upload_form.display_name(class="form-control") }}
    </p>

    <p>
      {{ upload_form.worksheet_file.label }}<br>
      {{ upload_form.worksheet_file(class="form-control") }}
    </p>

    <p>
      {{ upload_form.answer_key_file.label }}<br>
      {{ upload_form.answer_key_file(class="form-control") }}
    </p>

    <p>
      {{ form.submit(class="btn btn-primary") }}
    </p>
  </form>
{% endblock %}
