
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MrB4Math</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<header>
    <div class="header-bar">
        <img src="{{ url_for('static', filename='branding/header.jpg') }}" class="header-image">
    </div>
    <nav class="navbar">
    <a href="{{ url_for('main.home') }}">Home</a> |
    <a href="{{ url_for('main.about') }}">About</a>
    {% if current_user.is_authenticated %}
        | <a href="{{ url_for('admin.admin_home') }}">Admin</a>
        | <a href="{{ url_for('auth.logout') }}">Logout</a>
    {% else %}
        | <a href="{{ url_for('auth.login') }}">Login</a>
    {% endif %}
</nav>
</header>
<main class="container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</main>
</body>
</html>
